.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* Custom page CSS
-------------------------------------------------- */

/* Not required for template or sticky footer method. */

main > .container {
  padding: 100px 15px 65px;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* Coming from original project */

#mylinks {
  display: none;
  border: solid 2px silver;
  padding: 20px;
  /* width: 400px; */
}

input {
  margin: 10px 0;
}

button {
  margin: 10px 0px 20px 0px;
}
