<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="navbar-brand mx-auto text-center">
            <p>Link Builder </p>

            {{> gitlab-link}}
        </div>
    </nav>
</header>