<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<!-- Add your site or application content here -->

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5 text-center">Quick www --> non-www, non-www --> www Link Builder</h1>
        <div class="row">
            <div class="col-md-12">
                <input id="myurl" type="text" name="myurl" placeholder="base domain giriniz."><br />
                <button id="btnyap">yap</button>
            </div>
            <div class="col-md-12">
                <div id="mylinks">
                </div>
            </div>
        </div>
    </div>
</main>