<!-- default.html -->
<!doctype html>
<html lang="en" class="h-100">

{{> head}}

<body class="d-flex flex-column h-100">

    {{> header}}

    {{> index}}

    {{> footer}}

    {{> js}}

</body>

</html>